@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Nunito+Sans&family=Nunito:wght@700&family=Quicksand:wght@500&display=swap');

@media (min-width: 992px){
    .navbar li {
         text-align: right;
        
    }
}

.bg{
    background-image: url('../img/background-img.jpg');
    background-position: center;
    
/* background-size: cover; */
    height: 100vh;

}

  
.vertical-center {
    margin-top: 100px;
    position: relative;
    top: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


.btn-button{
    display: inline-block;
    position: relative;
    color: white;
    background-color: black;

}

.btn-button:hover{
    
    background-color: white;
    color: black;
}

.navbar{
    margin-bottom: 0 !important;
    border: 0 !important;
    text-align: end;
}
.navbar-collapse{
    flex-grow: 0;
}
.navbar-brand{
    color:black !important;
    font-size:3rem;
}

.center{
    position: absolute;
    text-align: end;
    left: 50%;
    top:75%;
    transform: translate(-50%, -50%);
}

.operations{
    list-style: none;
    /*border: 2px solid #fff;*/
    font-size: 15px;
    font-weight: bold;
    margin: 30px;
    border-radius: 15px;
    font-family: 'Nunito Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
}

.operations button{
    text-decoration: none;
    padding: 15px 35px;
    display: block;
    text-align: center;
    box-shadow: #020405;
}

a{
    text-decoration: none;
}

#red{
    background-color: transparent;
    color: red;
    border-radius: 15px;
    border: 2px solid red;
    width: 300px;
    text-decoration: none;
}

#red:hover{
    background-color: red;
    color: white;
}

#blue{
    background-color: transparent;
    color: blue;
    border-radius: 15px;
    border: 2px solid blue;
    width: 300px;
    text-decoration: none;
}

#blue:hover{
    background-color: blue;
    color: white;
}

#green{
    background-color: transparent;
    color: green;
    border-radius: 15px;
    border: 2px solid green;
    width: 300px;
    text-decoration: none;
}

#green:hover{
    background-color: green;
    color: white;
}

a #container {
    min-height:100%;
    position:relative;
 }
 /*
 #footer {
    background-color:black;
    padding:10px;
    color: aliceblue;
    height: auto;
 }*/

 #container #header{
    background-color:#1e272e;
    color: white;
    text-align: center;
    height: 50px;
    margin-bottom: 0 !important;
    border: 0 !important;
    margin-bottom: 5px;
 }
.heading{
    display: block;
    align-items: center;
    text-align:center;
    margin-left:50px;
    left:20px;
    background-color: red;
}
 .navbar-expand{
    margin-left:200px;
}